* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f5f9;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: white;
}

/* HERO */
.hero-banner {
  height: 400px;
  background: url('img/banner.webp') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* GRID */
.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
}

.botones-card {
  display: flex;
  gap: 5px;
}

.btn-detalle {
  background: black;
  color: white;
  flex: 1;
  text-align: center;
}

.btn-wsp {
  background: green;
  color: white;
  flex: 1;
  text-align: center;
}

/* DETALLE */
.detalle-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.detalle-img {
  width: 100%;
}

.color-circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
